# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools 
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy


Data Science Tools|  
------------------|
R Studio|
Jupyter Lab| 
Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Abdirisak Aman